.eventCardContainer {
  background-image: url("https://via.placeholder.com/200");
  height: 180px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  margin: 1rem 0;
}
