$desktop: 1114px;
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
#contactContainer {
  @include desktop {
    display: flex;
    justify-content: center;
    #contactLeft {
      margin-right: 4rem;
    }
  }
  h1 {
    font-size: 3rem;
  }
  #shopInfo {
    font-size: 1.5rem;
    line-height: 1;
    p {
      @include desktop {
        font-size: 1rem;
        letter-spacing: 0.03em;
        line-height: 1.5;
      }
    }
  }
  #socailGroup {
    display: flex;
    list-style: none;
    margin: 2rem 0;
    li {
      margin: 0 0.5rem;
      font-size: 3rem;
      a {
        color: black;
      }
    }
  }
  #bottomSection {
    p {
      margin: 0.5rem 0;
    }
    form {
      display: flex;
      flex-direction: column;
      // width: 20rem;
      p {
        margin: 0.5rem 0;
      }
      input,
      textarea {
        border: 1px #7c7b7b solid;
        background-color: #f8f8f8;
        margin-bottom: 1rem;
      }
      button {
        border: 1px black solid;
        background-color: transparent;
        padding: 0.5rem 1rem;
        margin: 1rem 0;
        width: 40%;
      }
    }
  }
}
