#eventsPageContainer {
  height: 100vh;
  h1 {
    margin: 0;
    font-size: 3rem;
  }
  #eventsMenu {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    select {
      border: none;
      border-bottom: 1px #707070 solid;
      height: 1.5rem;
      width: 6rem;
      background-color: transparent;
    }
  }
  #eventsListContainer {
    h3 {
      margin-bottom: 0.5rem;
    }
    hr {
      margin: 0;
      background-color: black;
    }
  }
}
