$desktop: 1114px;
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
#galleryPage {
  h1 {
    margin: 2rem 0;
    font-size: 3rem;
    @include desktop {
      text-align: center;
    }
  }
  #galleryContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include desktop {
      flex-direction: row;
      flex-wrap: wrap;
    }
    img {
      margin: 0.5rem;
    }
  }
}
