#galleryPage {
  height: 100vh;
  h1 {
    //   text-align: center;
    margin: 2rem;
    font-size: 3rem;
  }
  #galleryContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 4rem;
    img {
      margin: 0.5rem;
    }
  }
}
