$desktop: 1114px;
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
#navDesktopContainer {
  display: none;
  width: 100%;
  height: 25%;
  padding: 0 1rem;
  border-bottom: 1px solid #707070;
  padding-top: 1rem;
  list-style: none;
  @include desktop {
    display: flex;
    justify-content: space-between;
  }
  #mainLogo {
    color: black;
    font-size: 1.5rem;
  }
  #navDesktop {
    margin: 0;
    a:hover {
      color: black;
    }
    a {
      color: #707070;
      text-decoration: none;
    }
    li {
      margin: 0 1rem 1rem 1rem;
      display: inline-block;
    }

    .activeNav {
      color: black;
    }
  }
}
