#navContainer {
  width: 100%;
  height: 25%;
  //   background-color: red;
  #mobileNav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-top: 1rem;
    #socialGroup {
      display: flex;
      list-style: none;
      margin: 0;
      li {
        margin: 0 0.1rem;
        color: #707070;
      }
    }
  }
  #menuContainer {
    height: 24rem;
    a {
      text-decoration: none;
      color: #707070;
    }
    a:hover {
      color: black;
    }
    #dropMenu {
      list-style: none;
      text-align: center;
    }
    .activeNav {
      color: black;
    }
  }
}
