$desktop: 1114px;
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
#introSection {
  text-align: center;
  margin-bottom: 4rem;
  h1 {
    font-size: 2rem;
    margin: 0;
    margin-bottom: 1rem;
    @include desktop {
      font-size: 4rem;
      margin-bottom: 2rem;
    }
  }
  p {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
    @include desktop {
      font-size: 21px;
      letter-spacing: 0.03em;
      line-height: 1.2;
      color: #222222;
    }
  }
  h5 {
    text-align: right;
    margin: 0;
    color: #5091e8;
  }
}
