$desktop: 1114px;
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
#footerContainer {
  background-color: #1d1f23;
  padding-bottom: 1rem;
  margin-top: 4rem;
  padding: 4rem 0;
  #footerGroups {
    @include desktop {
      display: flex;
      justify-content: center;
      ul {
        margin: 0 1rem;
      }
      p {
        text-align: left;
      }
    }
  }
  p {
    color: white;
  }
  ul {
    li {
      list-style: none;
    }
  }
  #socialGroup {
    padding: 0 2rem;
    margin: 0;
    margin-top: 2rem;
    li {
      margin: 0;
      color: white;
      font-size: 1.5rem;
      margin-top: 1rem;
      display: inline-block;
      margin: 0rem 0.5rem 3rem 0.5rem;
    }
    hr {
      background-color: white;
    }
  }
  .footerInfoGroup {
    padding: 0 2rem;
    margin: 0;
    flex-direction: column;
    text-align: left;
    margin-top: 2rem;
    hr {
      background-color: white;
    }
  }
}
